{namespace de.aeffle.stash.plugin.hook}

/**
 * Location Settings
 * @param id Id
 * @param url Url
 * @param useAuth UseAuth
 * @param user Username
 * @param pass Password
 * @param? errors Errors
 */
{template .test}
    <div>Id {$id}</div>
    <div>Url {$url}</div>
    <div>UseAuth {$useAuth}:</div>
    <div>User {$user}:</div>
    <div>Pass {$pass}:</div>
    <div>Errors {$errors}:</div>    
{/template}

